src/ooga/data/factories/schemas/save_schema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data">
    <xs:complexType>
      <xs:all>
        <xs:element name="phase" type="xs:string"/>
        <xs:element name="game" type="xs:string"/>
        <xs:element name="score" type="xs:double"/>
        <xs:element name="file" type="xs:string"/>
        <xs:element name="cells">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cell" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="name" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>